<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create">Create user</a>

    </div>
    <table class="custom-user-tb">
        <%= JSON.stringify(userLst) %>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>email</th>
                <th>city</th>
                <th>action</th>
            </tr>
            <tr>
                <td>1</td>
                <td>nguyễn chí công</td>
                <td>congnc2408@gmail.com</td>
                <td>hà nam</td>
                <td>
                    <button class="button-makeup">edit</button>
                    <button class="button-makeup">delete</button>
                </td>
            </tr>
    </table>


</body>

</html>