<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="">Home</a>
        <a href="">News</a>
        <a href="">Contact</a>
        <a href="">About</a>
    </div>
    <div class="form-add-new">
        <form action="create-user" method="post">
            <fieldset>
                <legend>Add new users</legend>
                <div class="input-group">
                    <label for="">email</label>
                    <input type="text" id="emailId" name="email">
                </div>
                <div class="input-group">
                    <label for="">name</label>
                    <input type="text" id="myName" name="name">
                </div>
                <div class="input-group">
                    <label for="">city</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="">
                    <button>Save</button>
                </div>

            </fieldset>
        </form>
    </div>

</body>

</html>